*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 180px 1fr 30px;
}

/* Nav */

.nav{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #1293d5;
    grid-template-rows: 2fr 1fr;
    color: #fff;
    padding-right: 0.5rem;
}

.nav-content{
    grid-template-rows: 1fr 6fr 3fr;
}

.nav-element{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 1rem;
    align-items: center;
    padding-left: 0.5rem;

}

.nav-element *{
    cursor: pointer;
}

.nav-top{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-rows: auto;
    align-items: center;
}
.nav-middle{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-rows: auto;
    align-content: flex-start;
    margin-top: 30px;
}
.nav-bottom{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    grid-template-rows: auto;
    align-content: flex-start;
    margin-top: 2rem;
}
.nav-logo,
.nav-sublogo{
    justify-self: center;
}

.nav-logo{
    font-size: xx-large;
}

.nav-sublogo{
    font-size: large;
}

.nav-top-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-body-text{
    font-weight: 600;
}

/* Header */

.header{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #b8e2f2;
    grid-template-rows: 1fr 2fr;
    max-height: 20vh;
}

.header-top{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 1rem;
}

/* Search bar */

.search-bar{
    grid-column: 1/2;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-bar-icon{
    padding-left: 2rem;
    font-size: 1.5rem;
}

.search-bar-block{
    height: 1.5rem;
    width: 35rem;
    background-color: #e9eefe;
    border-radius: 1rem;
    cursor: text;
}

/* Noti bar */

.noti-bar{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.noti-icon{
    font-size: 1.5rem;
}

.noti-user-icon{
    height: 3rem;
    border-radius: 50%;
    margin-left: 2.5rem;
}

.noti-user-name{
    font-weight: 500;
    margin-left: 1.5rem;
    margin-right: 3rem;
}

/* User info */

.header-bottom{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.user-info{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 8.5rem;
}

.user-info-icon{
    grid-row: 1/3;
    height: 5rem;
    border-radius: 50%;
    margin-left: 2rem;
}

.user-info-text{
    grid-row: 1/3;
    grid-column: 2/5;
    align-self: center;
}
.user-info-text-top{
   font-weight: 500;
}

.user-info-text-bottom{
    font-weight: 600;
    font-size: 1.5rem;
}

/* Header buttons */

.button-function{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: end;
}

.button-function-list{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.button-function-list button{
    color: #FFFFFF;
    background-color: #1293d5;
    border: none;
    border-radius: 1rem;
    padding: 10px 40px;
    cursor: pointer;
}
.button-function-list > li:last-child{
    margin-right: 3rem;
}

/* Dashboard left */

.dashboard{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    background-color: #e3e9f0;
    grid-template-columns: 5fr 2fr;
}

.dashboard-left{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 72px 1fr;
}

.project-title{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    padding-left: 1.5rem;   
    font-weight: 500;
}

.project-container{
    grid-column: 1/3;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-flow: row;
}

.project-card{
    height: 90%;
    overflow: auto;
    width: 80%;
    background-color: #fff;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: 3fr 1fr;
    border-left: 0.5rem solid #f0b524;
    padding: 1.5rem 1.5rem 0.25rem 1.5rem;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.project-card-text-title{
    font-weight: 500;
}

.project-card-text-content{
    font-weight: thin;
    color: #636363;
}

.project-card-icon-list{
    padding: 0.5rem 0;
}

.project-card-icon{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 1.5rem;
    align-items: center;
}

.project-card-icon > li{
    font-size: x-large;
    cursor: pointer;
}

/* Dashboard right */

.dashboard-right{
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 72px 330px 72px 330px;
}

.announcement-title{
    grid-row: 1/2;
    font-weight: 500;
    padding-left: 1.5rem;
    align-self: center;
}

.announcement{
    grid-row: 2/3;
    height: 90%;
    width: 85%;
    min-width: 250px;
    background-color: #fff;
    margin: 0 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.announcement-item{
    padding: 0.5rem 0;
}
.announcement-item:nth-child(1),
.announcement-item:nth-child(2)
{
    border-bottom: 1px solid #ccc;
}

.announcement-item-title{
    font-weight: 500;
}

.announcement-item-content{
    color: #636363;
}

.trending-title{
    grid-row: 3/4;
    font-weight: 500;
    padding-left: 1.5rem;
    align-self: center;
}

.trending{
    grid-row: 4/5;
    height: 90%;
    width: 85%;
    min-width: 250px;
    background-color: #fff;
    margin: 0 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.trending-item{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    align-items: center;
}

.trending-item-image{
    height: 3rem;
    border-radius: 50%;
}

.trending-item-text-bottom{
    color: #636363;
}
.footer{
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #b8e2f2;
}
